body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
input{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	vertical-align: top;
}
em{
	font-style: normal;
}
body{
	color: #000;
	font-family:'Lato', sans-serif;
	transition:1s ease-in;
}
a{
	text-decoration: none !important;
}
a:hover{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	font-family:"Trochut", cursive;
}
#home .container{
	height: 62px;
}
..jarallax-container-0{
	height: 100%;
}

.nav.navbar-nav{
	margin: 7.5px 15px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background: none;
	border: none;
	z-index: 200;
	
}
.navbar-default .nav.navbar-nav li a{
	color: #fff;
	font-size: 1.1em;
	letter-spacing: 1px;
}
.navbar-default .nav.navbar-nav li a:hover{
	color: #03A9F4 !important;
}

.navbar-default .nav.navbar-nav >.active a{
	color: #03A9F4;
	background:none;
	
}
.home-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../img/home-bg.jpg) no-repeat;
	background-position: 50% 50%;
	
}
h1 a.navbar-brand{
	font-size: 1.2em;
	color: #FFFFFF !important;
	padding: 0;
	margin: 0.4em 0;	
}
.w3ls-navlog{
	margin-left: 4em;
	
}
.banner-text{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 16em 0 9em;
	background: rgba(0,0,0,0.7);
	position: relative;
	color: #fff;
}
.banner-text h2{
	text-align: center;
	font-size: 8em;
	height: 123px;
	line-height: 123px;
}
.banner-text p{
	width: 51%;
	margin: 2em  auto;
	font-size: 0.5em;
	line-height: 2em;
	letter-spacing: 5px;
	font-family: 'Lato', sans-serif;
}
.clock{
	width: 430px;
	height: 92px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}
.agileits-timer .clock .column{
	width: 130px;
	height: 100%;	
	border: 7px #57505d;
	border-style: double;
	box-sizing: border-box;
}

.column>div{
	display: inline-block;
	position: relative;
}
.column:last-of-type{
	margin-right: 0;
}
.agileits-timer .clock img{
	display: block;
	height:78px;
}
.banner-text .wthree-btn{
	position: relative;
    display: block;
    margin: 3em auto;
    overflow: hidden;
    border: 1px solid #fff;
    padding: .7em 1.5em;
    color: #fff;
    z-index: 9;
    font-size: 1.3em;
    outline: none;
    font-family: 'Trochut', cursive;
    letter-spacing: 1px;
	width:253px;
	background: none;
}
.wthree-btn .left,.banner-text .wthree-btn .right{
	position: absolute;
    top: 50%;
    content: '';
    width: 20px;
    height: 20px;
    background: #bb3756;
    border-radius: 50%;
    z-index: -1;
    margin-top: -10px;
}

.wthree-btn .left{
	left: -20px;
}
.wthree-btn .right{
	right: -20px;
}

.welcome{
	height: 200px;
	box-sizing: border-box;
}
.welcome-w3left,.welcome-w3right{
	padding: 3em 9em;
	height:200px;
	box-sizing: border-box;
	
}
.welcome-w3left{
	background-color: #bb3756;
}
.welcome-w3left .welcome-w3limg{
	width: 25%;
	height: 116px;
	box-sizing: border-box;
	text-align: center;
	padding: 21px 0;
	background-color: rgba(29, 29, 29, 0.32);
}
.welcome-w3left .glyphicon-calendar{
	text-indent: 2px;
	padding: 15px;
	font-size: 2.5em;
	border: 2px solid #fff;
	color: #fff;
}
.welcome-w3left .welcome-w3ltext{
	width: 75%;
	float: left;
}
.welcome-w3left .welcome-w3ltext{
	text-align: right;
}
.welcome-w3ltext p{
	display: inline-block;
	font-size: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #000;
}
.welcome-w3ltext h4{
	font-size: 2.5em;
	color: #fff;
	margin: 0.6em 0;
}
.welcome-w3ltext h6{
	font-size:1.1em;
	letter-spacing: 1px;
}
.welcome-agileinfo .welcome-w3right{
	background-color: #a22c48;
}
.welcome-w3right .welcome-w3ltext{
	text-align: left;
}
.welcome-w3right .welcome-w3limg{
	width: 25%;
	height: 116px;
	box-sizing: border-box;
	text-align: center;
	padding: 21px 0;
	background-color: rgba(29, 29, 29, 0.32);
}
.welcome-w3right .glyphicon-home{
	text-indent: 2px;
	padding: 15px;
	font-size: 2.5em;
	border: 2px solid #fff;
	color: #fff;
	text-indent: -2px;
}
.welcome .glyphicon{
	transition: 1s;
}
/*鼠标移入welcome,图标放大*/
.welcome .welcome-w3left:hover .glyphicon{
	transform: scale(1.2);
	
}
.welcome .welcome-w3right:hover .glyphicon{
	transform: scale(1.2);
	
}
/*下面一级被覆盖的时候用相对定位，提高层级*/
#services{
	position: relative;
	padding: 70px;
	background-color: #fff;
}
#services .serviceTitle{
	font-size: 3em;
	text-align: center;
	color: #bb3756;
}
#services .serviceTitle span{
	font-weight: 900;
	color: #a22c48;
}
.service-row{
	padding-top: 56px;
}
.services-grid{
	text-align: center;
}
.services-grid span{
	text-indent: -4px;
	color: #fff;
	font-size: 2em;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	padding: 28px;
	background-color: #bb3756;
	border-radius: 50%;
	line-height: 23px;
	border: 6px solid #fff;
}
.services-grid h5{
	font-size: 1.7em;
	letter-spacing: 1px;
	margin: 1em 0.5em;
	position: relative;
}
.services-grid p{
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	color: #999;
}
#services .services-grid .glyphicon{
	box-sizing: content-box;
	transition:0.7s;
}
/*service 区域鼠标移入移出效果*/
/*box-shadow:  投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色;  */
#services .services-grid:hover .glyphicon{
	box-shadow:0px 0px 15px 4px #bb3756;
	
}
.video-agileits{
	position: relative;	
	height: 442px;
	background: url(../img/video-bg.jpg) no-repeat;
	background-size: cover;	
}
.video-agileits .jaralex-container{
	width:1425px;
	height: 442px;
	background-color: rgba(0,0,0,0.65);
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}
.video-agileits .video{
	width: 100%;
	height: 100%;
	padding: 5em 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.video-agileits .pull-left .w3stitle{
	color: rgba(255, 255, 255, 0.72);
	font-size: 3em;
	margin-bottom: 0.8em;
}
.video-agileits .pull-left .w3stitle span{
	color: #fff;
}
.video-agileits .pull-left h4{
	color: #bb3756;
	font-size: 1.8em;
	margin-bottom: 0.5em;
	line-height: 1.4em;
}
.video-agileits .pull-left p{
	margin: 0;
	font-size: 1em;
	color: #999;
	line-height: 2em;
}
.video-agileits .pull-right .ico-contain{
	width: 120px;
	height: 120px;
	margin-top: 5em;
	background-color:#a22c48 ;
	color: #fff;
	padding: 25px;
}
.video-agileits .pull-right .play-ico{	
	width: 70px;
	height: 70px;
	border: 4px solid #fff;	
	border-radius: 50%;
	
}
.video-agileits .pull-right .play-ico .glyphicon-play{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 53px;
	margin-left: 9px;
	margin-top: 2px;
}
.team{
	padding: 5em 0;
	
}
#staff{
	position: relative;
	background-color: #fff !important;
}
.w3stitle{
	font-size: 3em;
	color: #bb3756;
	text-align: center;
	margin-bottom: 56px;
}
.w3stitle span{
	color:#a22c48;
}
#staff .staff-text{
	width: 100%;
	padding: 28px 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
#staff .item{
	overflow: hidden;
	
}
#staff .w3ls-effect11{
	width: 255px;
	text-align: right;
	position: relative;
	overflow: hidden;
	background-color: #000;
}
/*鼠标移入移出效果*/
#staff .social-icons{
 	opacity: 0;
 	transition:0.6s;	
 	transform: translateX(-10px);
}
#staff .w3ls-effect11 img{
	float: right;
	transition:0.6s;
	
}
#staff .w3ls-effect11:hover img{
	opacity: 0.5;
	transform: translateX(28px);
} 
#staff .w3ls-effect11:hover .social-icons{
	opacity: 1;
	transform: translateX(0);
}
.staff-text .social-icons li:hover{
	box-shadow: 0 0 12px 3px rgba(255,255,255,1);
}
.staff-text .social-icons{
	height: 35px;
}
.staff-text .social-icons ul{
	padding-left: 56px;
}
.staff-text .social-icons li{
	width: 35px;
	height: 35px;
	display: block;
	margin: 0 7px;
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 50%;
}
.staff-text h5{
	color: #fff;
	font-size: 2em;
	padding:10% 0 10px 0;
}
.staff-text p{
	color: #03A9F4;
	letter-spacing: 4px;
}
.staff-text .social-icons  a{
	height: 100%;
	
	border-radius: 50%;
}
.facebook{
	display: block;
	background: url(../img/facebook.png) no-repeat;
}
.google{
	display: block;
	background:url(../img/google.png) no-repeat;
}
.twitter{
	display: block;
	background: url(../img/twitter.png) no-repeat;
}
.twitter{
	display: block;
	background: url(../img/twitter.png) no-repeat;
}
.dribbble{
	display: block;
	background: url(../img/dribbble.png) no-repeat;
}

#gallery{
	padding: 70px 0;
	background-color: #fff0f5;
	position: relative;
}
#gallery .gallery-grids{
	position: relative;
	padding: 0;
}
.w3ls-hover{
	width: 100%;
	height: 342px;
	overflow: hidden;
	position: relative;
}
.w3ls-hover img{
	width: 100%;
	height: 100%;
}
.view-caption{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.8);
	padding: 98px 0;
	border-radius:200px;
	transform: scale(0);
	transition: 0.6s;
}
.view-caption .glyphicon-search{
	color: #fff;
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-15px ;
}
.view-caption h5{
	color: #fff;
	font-size: 2.5em;
	margin-top: 5px;
	
}
#lightboxOverlay{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.gallery-mask{
	display: none;
}
#gallery .w3ls-hover:hover .view-caption{
	transform: scale(1);
	border-radius:0px;
}
#gallery .w3ls-hover .view-caption .glyphicon{
	transition:0.6s;
}
#gallery .w3ls-hover .view-caption .glyphicon:hover{
	color: #bb3756;
}
.gallery-mask .lb-nav .lightPre:hover{
	opacity: 1;
}
.gallery-mask .lb-nav .lightNext:hover{
	opacity: 1;
}
.lightbox{
	width: 100%;
	position: absolute;
	left: 0;
	top: 2860px;
	text-align: center;
	z-index: 12;
}
.lightbox img{
	width: 220px;
	height: 265px;
}
.lb-outerContainer a{
	font-family: 'Lato', sans-serif;
	position: absolute;
	display: block;
	width: 70px;
	height: 100%;
	color: #fff;
	font-size: 1.8em;
	line-height: 298px;
}
.lb-outerContainer img{
	width: 298px;
	height: 357px;
}
.lightPre{
	left: 0;
	top: 0;
	opacity: 0;
	transition:1s ;
}
.lightNext{
	right: 0;
	top: 0;
	opacity: 0;
	transition:1s ;
}
.lb-outerContainer{
	width: 298px;
	height: 358px;
	border: 4px solid #fff;
	margin: 0 auto;
	position: relative;
	background: #fff;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}
.lb-dataContainer{
	width: 298px;
	padding-bottom: 20px;
	margin: 0 auto;
	
}
.lb-dataContainer{
	color: #fff;
	margin-top: 28px;
}
.lb-dataContainer>div{
	text-align: left;
	display: block;
}
.lb-caption{	
	letter-spacing: 1px;
}
.lb-closeContainer span{
	display:block;
	width: 30px;
	height: 30px;
	font-size: 30px;
	color: rgba(255,255,255,0.6);
}
#prices{
	position: relative;
	height: 675px;
	overflow: hidden;
}
.price-bg{
	width: 100%;
	height: 675px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/price_bg.jpg) no-repeat;
	background-size: cover;
}
#prices .pricesw3-agileits{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 5em 0;
}
#prices .w3stitle{
	color: rgba(255, 255, 255, 0.72);
}
#prices .w3stitle span{
	color: #fff;
}
#prices .pricing{
	margin: 0 auto;
}
.pricing .pricing-top{
	padding: 1.2em 0;
	text-align: center;
	width: 100%;
	border-radius: 5px;
}
.pricing .pricing-top h3{
	color: #fff;
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 0.8em;
}
.pricing .pricing-top p{
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
}
.pricing .pricing-bottom{
	padding: 28px;
	background: rgba(0,0,0,0.4);
	border-radius: 0 0 5px 5px;
}
.pricing .line{
	width:0;
	height: 4px;
}
.pricing .pricing-bottom p{
	text-align: center;
	padding: 0.8em 0;
	/*line-height: 1.8em;*/
	color: #fff;
	font-family: 'Lato', sans-serif;
}
.pricing .pricing-bottom p:nth-of-type(1){
	border-top: 1px  #fff dashed;
}
.pricing .pricing-bottom p{
	border-bottom: 1px dashed #fff;
}
.pricing .pricing-bottom .btn{
	width: 126px;
	height: 36px;
	margin-top: 21px;	
	color: #fff;
}
.pricingOne .pricing-bottom .btn{
	background-color: #03A9F4;
}
.pricingOne .line{
	background-color: #03A9F4;
}
.pricingOne .pricing-top{
	background-color: #03A9F4;
}
.pricingTwo .pricing-top{
	background-color: #8BC34A;
}
.pricingTwo .pricing-bottom .btn{
	background-color: #8BC34A;
}
.pricingTwo .line{
	background-color:#8BC34A ;
}
.pricingThree .pricing-top{
	background-color: #792ffd;
}
.pricingThree .pricing-bottom .btn{
	background-color: #792ffd;
}
.pricingThree .line{
	background-color:#792ffd ;
}
.pricingFour .pricing-top{
	background-color: #FF5722;
}
.pricingFour .pricing-bottom .btn{
	background-color: #FF5722;
}
.pricingFour .line{
	background-color:#FF5722 ;
}
/*priceing hover的时候的放大*/
.pricing{
	transition:1s;
}
.pricing .line{
	transition:0.6s;
	border-radius: 10px;
}
.pricing:hover{
	transform: scale(1.08);
}
.pricing:hover .line{
	width: 100%;
}
.teamSay{
	position: relative;	
	padding: 5em 0;
	background-color:#fff;
}
.teamSay .flexslider{
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.teamSay .flex-viewport{
	width: 912px;
	height: 134px;
	overflow: hidden;
	margin: 0 auto 50px;
	
}

.teamSay .slider-item{
	width: 912px;
}
.teamSay .sliderbox{
	width: 75%;
	margin: 0 auto;
}
.teamSay .sliderbox img{
	width: 132px;
	height: 132px;
}
.teamSay .sliderbox .text p{
	font-size: 1em;
	color: #999;
	line-height: 2em;
	margin-bottom: 1.8em;
}
.teamSay .sliderbox .text h5{
	font-size: 1.6em;
	font-family: 'Trochut', cursive;
	color: #53565f;
}
.teamSay .sliderbox .text h5 small{
	font-family: 'Lato', sans-serif;
	font-size: 0.6em;
}
.teamSay .flex-control-nav{
	padding: 0 390px;
	display: flex;
	justify-content: space-around;
	position: relative;
}
.slider{
	position: relative;
}
.teamSay .flex-control-nav .pull-left{
	width: 15px;
	height: 15px;
	box-sizing: border-box;
}
.teamSay .flex-control-nav .pull-left a{
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #999;
}
.teamSay .flex-control-nav li.active a{
	border-color:#2EB6AF ;
	background-color: #2EB6AF;
}
.teamSay .flex-direction-nav{
	position: absolute;
	right: 0;
	top: 0;
}
.teamSay .flex-direction-nav li:first-child{
	margin-bottom: 10px;
}
.teamSay .flex-direction-nav a{
	display: block;
	width: 35px;
	height: 60px;
	background-color: rgba(187, 55, 86,1);
	font-size: 2em;
	color: #fff;
	line-height: 60px;

}
#blog{
	position: relative;
	padding: 5em 0;
	background-color: #fff0f5;
}
.blog .blog-info{
	margin-top: 4em;
}
.blog .blog-info .imgcover{
	width: 629px;
	background-color:#000;
	display: block;
	overflow: hidden;
	transition: 0.5s;
}
.blog .blog-info .imgcover img{
	opacity: 0.5;
	transition: 0.5s;
}
/*blog鼠标移入的时候，图片放大*/

.blog .blog-info:hover .imgcover img{
	transform: scale(1.2);
	opacity: 1;
}
.blog .blog-info .blog-text{
	padding: 56px 14px;
}
.blog .blog-info .blog-text h4 a{
	font-size: 1.3em;
	font-weight: 300;
	color: #595c65;
	letter-spacing: -1px;
	font-family: 'Trochut', cursive;
}
.blog .blog-info .blog-text h4 a:hover{
	color:#a22c48 ;
}
.blog .blog-info .blog-text h6{
	margin: 1.8em 0;
	color: #595c65;
	font-size: 1em;
}
.blog .blog-info .blog-text p{
	padding-left: 2em;
	line-height: 2.2em;
	font-size: 1em;
	color: #999;
	font-family: 'Lato', sans-serif;
}
.subscribe{
	position: relative;
	height: 260px;
}
.subscribe .subscribe-bgout{	
	position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;overflow: hidden;pointer-events: none;transition: transform linear -1ms, -webkit-transform linear -1ms;/* visibility: hidden; */z-index: -100;
}

.subscribe .subscribe-bg{
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-image: url(../img/blog-img3.jpg);
    position: fixed;
    top: 0px; 
    left: 0px;
    width: 1425px; 
    height: 405px; 
    overflow: hidden;
    pointer-events: none;
    transition: transform linear -1ms, -webkit-transform linear -1ms;
    background-size: 1425px 690.23px; 
    visibility: visible;
    transform: translate3d(0px, -34.67px, 0px);
	
}
.subscribe .subscribe-contain{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 56px;
}
.subscribe-contain .w3stitle{
	text-align: left !important;
	margin-bottom: 0;
}
.subscribe-contain .w3stitle span{
	display: block;
}
.subscribe-contain .subscribe-left p{
	margin:0 7em 0 0;
	font-size: 1em;
	line-height: 2em;
	letter-spacing: 5px;
	color: #fff;
}
.subscribe-contain .subscribe-left p a{
	font-weight: 300;
}
.subscribe-contain .subscribe-right{
	margin-top: 2.2em ;
	padding-left: 8em;
}
.subscribe-contain form:hover .email{
	border-color: #03A9F4
}
.subscribe-contain form:hover .submit{
	background: #03A9F4
}
.subscribe-contain .email{
	width: 268px;
	height: 50px;
	box-sizing: border-box;
	border:1px solid #fff;
	background: transparent;
	border-radius: 50px 0 0 50px;
	padding: 14px;
	color: #999;
	transition: 0.5s;
}


.subscribe-contain .submit{
	padding:16px 2.5em;	
	
	background-color: #a22c48;
	border-color: #a22c48;
	color: #fff;
	margin-left: -2px;
	border-radius: 0 50px 50px 0;
	transition: 0.5s;
}
.contact{
	position: relative;
	padding: 5em 0;
	background-color: #fff;
}

.contact .contact-left .contact-grid{
	background-color: #bb3756;
	padding: 3.5em;
}
.contact .contact-left .contact-grid h4{
	color: #fff;
	margin-bottom: 1em;
	font-size: 2em;
}
.contact .contact-left .contact-grid form *{
	padding: 11px 14px;
	box-sizing: border-box;
	border-radius: 2px;
	border-color: transparent;
	color: #555;
	font-size: 1em;
	margin-bottom: 1.5em;
	font-family: 'Lato', sans-serif;
}
.contact .contact-left .contact-grid form input{
	height: 38px;
}
.contact .contact-left .contact-grid form textarea{
	height: 183px;
}
.contact .contact-left .contact-grid form .btn{
	height: 44px;
	color: #fff;
	width: 160px;
	background-color: #8e263f;
}
.contact .contact-right h6{
	font-size: 2em;
	line-height: 1.8em;
}
.contact .contact-right h6 span{
	color: #03A9F4;
}
.contact .contact-right .address-row{
	margin-top: 2em;
}
.contact .contact-right .address-row .glyphicon{
	font-size: 2.4em;
	color:#bb3756;
}
.contact .contact-right .address-row .col-xs-10 h5{
	font-size: 1.4em;
	color: #595c65;
	margin-bottom: 0.4em;
	font-weight: 300;
}
.contact .contact-right .address-row .col-xs-10 h5 p{
	color: #999;
	line-height: 2em;
	font-size: 1em;
}
.contact .map{
	margin-top: 3em;
}
.contact .map iframe{
	width: 100%;
	min-height: 240px;
	border: 2px dashed #03A9F4;
}
.feature{
	position: relative;
	background: #1b1b1b;
	padding: 3em 0;
}
.feature .glyphicon{
	color: #fff;
	font-size: 1.6em;
}
.feature .feature-right p{
	color: #999;
	font-size: 1em;
	
}
.feature .feature-right h5{
	margin-top: 5px;
	color: #03a9f4;
	font-size: 1.8em;
}
.feature .feature-left{
	padding-top: 1em;
}
.copyright{
	position: relative;
	background-color: #000;
}
.copyright .footerIco{
	margin-bottom: 1.5em;
	margin-top: 20px;
}
.copyright .footerIco ul{
	width: 260px;
	margin: 0 auto;
}
.copyright .footerIco li{
	margin: 0 1em;
}
.copyright .footerIco a{
	width: 35px;
	height: 35px;
	border: 1px solid #000;
	border-radius: 50%;
}
.copyright p{
	color: #fff;
	margin-bottom: 1.5em;
}
.full-pop{
	position: absolute;
	background-color: #fff;
	padding: 25px;
}
.full-pop h3{
	height: 25px;
}
.full-pop h3 a{
	color: #bb3756;
	font-size:1.8em;
}
.Loginbody{
	position: relative;
	padding: 28px;
	background-color: #bb3756;
	color: #fff;
}
.Loginbody .resp-tabs-list li{
	padding: 1em 0;
	background-color: #a22c48;
}
.Loginbody .resp-tabs-list li.active{
	background-color:#bb3756;
}
.Loginbody .resp-tabs-list li a{
	font-size: 1.5em;
	
}
.Loginbody a{
	color: #fff;
}
.resp-tabs-container{
	min-height: 100px;
}
.resp-tabs-container .form-control{
	height: 40px;
	color: #fff !important;
	border: none;
	background:none;
	margin-bottom: 2em;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 2px dashed #fff;
}
.resp-tabs-container .form-control::-webkit-input-placeholder{
	color: #fff;
}
.resp-tabs-container .w3ls-submit .btn{
	width: 189px;
	height: 48px;
	background-color: #a22c48;
	font-size: 1em;
	
}
.resp-tabs-container .w3ls-submit .btn:hover{
	background-color:deepskyblue;
	color: #fff;
}
.login-checkbox-line{
	margin-bottom: 35px;
}
.resp-tabs-list{
	text-align: center;
}
.tab-1:nth-of-type(2){
	display: none;
}
.pop-btns{
	display: none;
}
.close{
	position: absolute;
	right: 10px;
	top: 2px;
	z-index: 110;
	opacity: 1;
}
/*book now 弹窗部分*/
.bookDialog{
	position:absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	padding: 14px;
	border: 10px solid #bb3756;
	margin: 40px auto;
	text-align:center;
	max-width: 629px;
	width: 616px;
}
.bookDialog .contentPop{
	padding:0 3%;
	margin-top: 25px;
}
.bookDialog h4{
	border-top: 1px solid lightgray;
	padding: 14px 0;
	color:#bb3756 ;
	font-size: 2em;
}
.bookDialog .contentPop ul{
	margin-bottom: 14px;
}
.bookDialog .contentPop ul li:first-of-type{
	margin-right: 1.5em;
	
}
.bookDialog .contentPop li.pull-left{
	width: 256px;
	height: 40px;
}
.bookDialog .contentPop li.select{
	height: 50px;
}
.bookDialog .contentPop .text{
	width: 256px;
	height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
}
.bookDialog .contentPop label{
	display: block;
	color: #999;
	text-align: left;
}
.bookDialog .contentPop .address-row{
	width: 100%;
	margin-bottom: 36px;
}
.bookDialog .contentPop .address{
	width: 100%;
}
.bookDialog .contentPop select.text{
	height: 18px;
	color: #999;
	background-color: #fff;
}
.btn-row{
	margin-top: 22px;
}
.btn-row input{
	padding: 0.6em 2em;
	border:1px solid;
	cursor: pointer;
	font-size: 1em;
	display: block;
	transition: all 0.5s;
	color: #fff;
}
.process{
	background-color: #03a9f4;
}
.process:hover{
	background-color: #fff;
	border-color:#03a9f4;
	color:#03a9f4;
}
.reset{
	background-color: #bb3756;
}
.reset:hover{
	background-color: #fff;
	border-color:#bb3756;
	color:#bb3756;
}
.btn-row .pull-right:first-of-type{
	margin-left: 8px;
	margin-right: 13px !important;
}
.payment-type{
	margin: 10px 0;
}
.payment-type li{
	width: 64px !important;
}
.payment-type .visa{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon.png) no-repeat;
	margin-left: 10px;
	vertical-align: middle;
}
.payment-type .card{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon.png) no-repeat;
	background-position: -40px 0;
	margin-left: 10px;
	vertical-align: middle;
}
.bookDialog input{
	border: 1px solid rgba(0,0,0,0.1);
}
.bookDialog .close{
	width: 40px;
	height: 40px;
	display: block;
	background-color:#bb3756 ;
	color: #fff;
}
 .tips{
	min-width: 130px;
	height: 40px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
	position: absolute;
	left: 20px;
	top: 20px;
	display: none;
	background-color: #fff;
}
.tips .sanjiao{
	width:0;
	height: 0;
	border:10px solid transparent;
	border-bottom-color: rgba(0,0,0,0.1);
	position: absolute;
	left: 10px;
	top: -19px;
	
	
}
.tips .sanjiao2 {
	width:0;
	height: 0;
	border:9px solid transparent;
	border-bottom-color: #fff;
	position: absolute;
	left: 11px;
	top: -16px;	
}
.tips .tipsBg{
	width: 19px;
	height: 19px;
	background: url(../img/tips_bg.png) no-repeat;
	position: absolute;
	top: 8px;
	left: 8px;
}
.tips .tipsText{
	display: inline-block;
	line-height: 40px;
	padding:0 10px;
	padding-left: 30px;
	font-size: 12px;
	
}
.closeBtn{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background-color: #bb3756;
	color: #fff;
	line-height: 40px;
	text-align: center;
}
/*contact us 右侧内容*/
.contact-right .glyphicon{
	transition: 1s;
}
.contact-right .address-row:hover .glyphicon{
	transform: rotateY(720deg);
}
/*feature区域的hover*/
.feature .container .glyphicon{
	transition: 1s;
}
.feature .container>div:hover .glyphicon{
	transform: scale(1.4);
	color: #bb3756;
}
/*copy right部分*/
.copyright .footerIco a{
	transition: 0.2s;
	border: 1px solid rgba(255,255,255,0.2)
}
.copyright .footerIco a:hover{
	box-shadow: 0 0 18px 6px rgba(255,255,255,0.6)
}
@media (max-width: 1280px){
	.banner-text p{
		width: 60%;
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
	    border-color: #03A9F4;
	    background: #03A9F4;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff;
	}
}
